#container_graph {
	width: 90%;
	height: 400px;
}

#container_graph_2 {
	width: 90%;
	height: 400px;
}

#container_graph_3{
	width: 90%;
	height: 400px;
}

h4 {
	color: #00548F;
}

.debug {
	color: gray;
}

#real-time-financials{
	border: 10px black;
}

#tenq-financials{
	border: 10px black;
}

#news-row table, th, td {
  border: 1px solid gray;
}

#first-row th {
	font-weight: bold;
	padding: 4px;
}

#news-row td {
	font-weight: lighter;
	padding: 4px;
}

body {
	padding: 7%;
}

#logo_img {
	height: 80px;
}

.header-col {
	width: 20%;
	padding: 0px;
}

#stock-row table, th, td {
  border: 1px solid gray;
}

#stock-row table{
  height: 500px;
}

#stock-row th {
	font-weight: bold;
	padding: 4px;
}

#stock-row td {
	font-weight: lighter;
	padding: 4px;
}

#fin-10Q-col {
	width: 400px;
}

#tweet-score h6{
	color: rgb(16, 166, 216);
}